@import '../../SCSS/main.scss';

//SliderOne
.hero-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: rgba(255, 255, 255, 0.7);
	background-size: cover;
	background-position: center;

	@include lg {
		flex-direction: row;
	}

	&::before {
		content: '';
		background-image: url(../../assets/background.jpg);
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
	}
}

.container-text {
	width: auto;
	height: auto;
	margin-top: 3rem;

	@include lg {
		padding: 3rem;
		margin-top: 0rem;
		height: auto;
		width: 20%;
	}
	.text-titles {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 1rem;
		margin-bottom: 1rem;

		.text-title {
			font-family: 'Roboto', sans-serif;
			font-size: 3rem;
			font-weight: 800;
			color: #1c1c1c;
			@include md {
				font-size: 4rem;
			}
		}
		.text-title:nth-child(1) {
			font-size: 4rem;
			color: rgb(238, 238, 238);
			@include lg {
				color: #1c1c1c;
			}
		}
	}

	.text-description {
		font-family: 'Roboto', sans-serif;
		font-size: 1.2rem;
		font-weight: 400;
		color: #1c1c1c;
		margin: 0.5rem 0;
		text-align: center;

		.description-span {
			font-weight: 600;
		}
		.description-span:nth-child(2) {
			display: block;
			@include xs {
				display: inline;
				margin-left: 0.5rem;
			}
		}
		.description-star {
			color: #ffdc17;
		}
	}
}

.container-slider {
	width: 80%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	@include md {
		width: 70%;
	}

	.carousel-provider {
		width: 100%;
		height: 100%;

		@include md {
			width: 100%;
			height: 100%;
		}
	}
	.carousel-slider {
		width: 100%;
		height: 100%;
		gap: 1rem;
		@include sm {
			width: 100%;
			height: 100%;
		}

		@include lg {
			display: flex; //added
			overflow: hidden;
			width: 100%;
		}
	}
	.carousel-slide {
		height: 100%;
		width: 100%;

		@include lg {
			padding-left: 0.75rem;
			height: 100%;
			flex-grow: 1;
			display: flex;
			justify-content: center;
			left: 7%;
		}
	}

	//library class extracted from DevTools
	.carousel__inner-slide {
		height: 30rem;
		@include sm {
			width: 100%;
			height: 60%;
		}
		@include lg {
			height: 80%;
		}
	}
}

.slide-topContainer {
	width: 100%;
	height: 75%;

	@include xs {
		height: 70%;
	}
	@include sm {
		height: 60%;
	}
	@include lg {
		height: 6cm;
	}

	.slide-img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.slide-bottomContainer {
	width: 100%;
	height: 100%;

	text-align: center;
	background-color: rgb(255, 255, 255);

	@include xs {
		height: 20%;
	}
	@include lg {
		height: 3cm;
	}
	@include lg {
		height: 4cm;
	}
	.slide-title {
		width: 100%;
		height: auto;
		font-family: 'Roboto', sans-serif;
		font-size: 1.2rem;
		color: #1c1c1c;
		padding: 1rem;
		line-height: 1.5rem;
		@include xs {
			font-size: 1.5rem;
		}
		@include lg {
			font-size: 1rem;
			width: auto;
		}
		@include xl {
			font-size: 1.2rem;
		}
	}
}
.slider-controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 30%; //changed from 15rem
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
	padding: 0 2rem;
	box-sizing: border-box;
	z-index: 1;

	@include sm {
		bottom: 20rem;
	}
	@include lg {
		justify-content: space-between;
		width: 70%;
		left: 63%;
		bottom: 25rem;
	}
	@include xl {
		width: 70%;
		left: 60%;
	}
	.btn {
		height: 100%;
		display: flex;
		background-color: #ffdc17;
		border-radius: 50px;
		border: none;
		cursor: pointer;
		font-size: 1rem;
		padding: 0.4rem;
		&::before {
			content: '';
			color: rgb(31, 31, 22);
		}
		&:focus {
			outline: none;
		}
		.btn-icon {
			font-size: 2rem;
			padding: 1rem;
			color: rgb(0, 0, 0);
		}
	}
}
.carousel-slide.blur {
	filter: blur(5px);
}

//Slider Two
.container-keen_slider {
	padding: 2rem 7rem 1rem 7rem;
}
.keen-slider_title {
	height: 3rem;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	color: #1c1c1c;
	display: flex;
	justify-content: center;
	align-items: center;
}
.keen-slider {
	width: 80%;
}

[class^='number-slide'],
[class*=' number-slide'] {
	background: grey;
	color: #000000;
	height: 300px;
	max-height: 100vh;
}

.number-slide {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background: #46dc9e;
	background: linear-gradient(128deg, 00c372, 00c372);
}

//bottom navigation
.dots {
	display: flex;
	padding: 10px 0;
	justify-content: center;
}

.dot {
	border: none;
	width: 10px;
	height: 10px;
	background: #c5c5c5;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}

.dot:focus {
	outline: none;
}

.dot.active {
	background: #000;
}

//slides
.keen-slider__slide .keen-slider__slide--center {
	// filter: none;
	transition: width 0.3s ease;
	width: 35rem;
}
.keen-slider__slide:not(.keen-slider__slide--center) {
	opacity: 30%;
	transition: width 0.3s ease;
	width: 10rem;
}

.invisible {
	visibility: hidden;
}

.transparent {
	opacity: 30%;
}
